{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-12">
        <div class="around-404-pre">
        <pre class="error-404-pre">
            . --- .
            /        \
           |  O  _  O |
           |  ./   \. |
           /  `-._.-'  \
         .' /         \ `.
     .-~.-~/           \~-.~-.
 .-~ ~    |             |    ~ ~-.
 `- .     |             |     . -'
      ~ - |             | - ~
          \             /
        ___\           /___
        ~;_  >- . . -<  _i~
           `'         `'
    </pre>
    <p>404 - This page does not exist.</p>
    <p>Let's return to the <a href="/">homepage</a>.</p>
</div>
    </div>
</div>
{% endblock %}